<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
 
 <p>Hi!</p>
 <p>Die automatische Zahlung von <%= @user.member.full_name %> ist gerade gescheitert</p>

</body>
</html>