<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.member.full_name %> has paid!</h1>
    
    <p>
      email: <%= @user.email %> <br>
      Payment method: <%= @payment_method %>
    </p>
    

    <p>Have a great day!</p>

    <p>Yours sincerely, <br> the office of EFDMA </p>

    <p>If you don't want to receive further email from us, please click here: <a href="%unsubscribe_url%">UNSUBSCRIBE</a></p>
    
  </body>
</html>