<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>

	<p>Hello <%= @user.member.full_name %>!</p>

	<p>Thank you for signing up. We are very happy to welcome you to the EFDMA.</p>

	<p>To complete your data entry for the FDM practitioners list please log in our member area. <br>Follow this url: <a href="http://member.fdm-europe.com">http://member.fdm-europe.com</a> and please use your email: <%= @user.email %> and your chosen password to log in.</p>

	<p>
		We also provide a 'manual' for our member area. You can download the manual using the links below.
		<ul>
			<li>[ENGLISH] <a href="https://dl.dropboxusercontent.com/u/390628/Info_Memberarea_new.pdf" title="">Member area manual</a></li>
			<li>[GERMAN] <a href="https://dl.dropboxusercontent.com/u/390628/Infos_EFDMA_Mitgliederbereich_neu.pdf" title="">Bedienungsanleitung Mitgliederbereich</a></li>
		</ul>
	</p>

	<p>In case of any questions, please don't hesitate to let us know. We are here to help.</p>

	<p>Your sincerely,<br>
		Martina Lichtblau<br>
		General Secretary, EFDMA</p>


<hr>

<p><strong>About us</strong></p>

<p>The EFDMA is a non-profit organization. Its aim is to sponsor and promote research and training in the areas of the Fascial Distortion Model (FDM) and the Typaldos Method.</p>

<p>The EFDMA sets certain standards in the education and promotion of the Fascial Distortion Model (FDM) in Europe and offers information on FDM, its basic principles and application in the treatment of a diverse range of ailments to medical professionals as well as patients.</p>

<p>The European FDM Association was founded in November of 2006 by Georg Harrer, M.D., Christoph Rossmy D.O., Christian Stein, M.D., Markus Breinessl, M.D., Karin Forthuber and Stefan Anker MSc, D.O.. The association’s first president was Georg Harrer, M.D..</p>

<p>During the following years, the EFDMA grew as fast as the number of FDM seminars that became available. In 2009, when Christoph Rossmy took over the helm, the EFDMA consisted of 70 active members.</p>

<p>Today, the EFDMA counts nearly 600 members in Germany, Austria, Italy, Poland, Luxemburg, Switzerland, Netherlands, Belgium, Great Britain, Russia, Spain and Norway.</p>

<p>The EFDMA board is currently made up of seven physicians, osteopaths and physiotherapists working on a voluntary basis. All seven successfully use FDM and the Typaldos Method on their patients.</p>

<p>
	For more about EFDMA, please visit <<a href="http://www.fdm-europe.com">www.fdm-europe.com</a>
</p>

<hr>

<p><strong>Our Goals</strong></p>

<p>Our vision is for every patient in Europe to have access to a qualified practitioner of the Fascial Distortion Model (FDM). The organization’s core activities consist of:</p>

<ul><li>sponsoring scientific research on the Fascial Distortion Model and the Typaldos Method</li>
<li>promoting the Fascial Distortion Model (FDM), developed by Stephen Typaldos, D.O., using PR</li>
<li>regulating and promoting basic and advanced FDM training courses, adhering to strict quality standards</li>
<li>the international exchange of knowledge and findings pertaining to the FDM by working closely with FDM associations in the US, Japan and Africa.</li></ul>

<p>If you don't want to receive further email from us, please click here: <a href="%unsubscribe_url%">UNSUBSCRIBE</a></p>

</body>
</html>