<h1>Edit member <%= @member.full_name %></h1>
<p>You can edit all information about this member. Please be aware that any saved changes are final.</p>


<%= form_for @user, url: admin_change_user_path(@member.user.id), :html => {:multipart => true}  do |f| %>
	<div class="from-group">
    <%= f.label :email %><br>
  <%= f.email_field :email, class: "form-control" %>  
  </div>
  

	<%= f.fields_for :member do |member_fields| %>

    <div class="form-group">
      <%= member_fields.label :title %><br />
      <%= member_fields.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= member_fields.label :firstname %><br />
      <%= member_fields.text_field :firstname, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= member_fields.label :lastname %><br />
      <%= member_fields.text_field :lastname, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= member_fields.label :grade %><br />
      <%= member_fields.text_field :grade, class: "form-control" %>
	</div>
  <div class="form-group">
      <%= member_fields.label :job %><br />
      <%= member_fields.text_field :job, class: "form-control" %>
  </div>
    <% if @member.member_type == 0 %>
    <div class="form-group">
      <%= member_fields.label :trial_ends %><br />
      <%= member_fields.date_field :trial_ends, class: "form-control" %>
  </div>
  <% end %>
    <div class="form-group">
      <% unless @member.member_type == 0 %>
      
<%= member_fields.radio_button(:member_type, 1) %>
      <%= member_fields.label(:member_type_1, "Mitglied") %>

      <%= member_fields.radio_button(:member_type, 2) %>
      <%= member_fields.label(:member_type_2, "IC") %>
      <% end %>

      
        
  </div>
      <div class="form-group">
      
      
      <%= member_fields.radio_button(:certified, false) %>
      <%= member_fields.label(:certified_false, "Kein BC") %>

      <%= member_fields.radio_button(:certified, true) %>
      <%= member_fields.label(:certified_true, "BC certified") %>
      
      
        
  </div>

	<div class="form-group">
  <strong>New profile picture</strong><br>

		<% if @member.avatar.url(:regular) %>
			<%= image_tag @member.avatar.url(:regular) %>
		<% end %>
		
		
    
		<%= member_fields.file_field :avatar %> 
	</div>

  <% end %>
  	<br>
	<%= f.submit "Update member" %>

<% end %>

<hr>



<% if @member.user.payments.last  %>
  <% unless @member.user.payments.last.payment_customer_id == nil %>

    <table class="table">
    
    <thead>
      <tr>
        <th>Date of payment</th>
        <th>Next payment</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for payment in @payments %>
        <tr>
          <td><%= payment.created_at.strftime("%Y-%m-%d") %></td>
          <% if payment.status == "settled" %>
            <td><%= (payment.created_at + 1.year).strftime("%Y-%m-%d") %></td>
            <td><%= button_to "Show latest invoice", admin_show_invoice_path(@member.user.id), class: "btn btn-default", method: :get, target: "_blank", params: {id: payment.id} %></td>
          <% else %>
            <td><%= payment.status %></td>
            <td></td>
          <% end %>
          
        </tr>
      <% end %>
    </tbody>
  </table>



  <% else %>
  <%= link_to "new Payment", new_payment_for_member_path(@member.user.id), class: "btn btn-default" %>
  <table class="table">
    
    <thead>
      <tr>
        <th>Date of payment</th>
        <th>Next payment</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for payment in @member.user.payments %>
        <tr>
          <td><%= payment.created_at.strftime("%Y-%m-%d") %></td>
          <td><%= payment.next_payment %></td>
          <% if payment == @member.user.payments.last %>
          <td><%= link_to "Show latest invoice", admin_show_invoice_path(@member.user.id), class: "btn btn-default", target: "_blank"  %></td>
          <% else %>
          <td colspan="" rowspan="" headers=""></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>


  
  <% end %>
  <hr>
<% end %>

<% for address in @member.addresses %>

<div class="address well">
  <div class="table-responsive">
  <table class="table">
    
    <tbody>
      <tr>
        <td width="200">Office name</td>
        <td><%= address.office_name %></td>
      </tr>
      <tr>
        <td width="200">Address</td>
        <td><%= address.street %> <br><%=  address.plz + " " + address.city %> <br> <%= address.country %></td>
      </tr>
      <tr>
        <td>Telephone</td>
        <td><%= address.tel %></td>
      </tr>
      <tr>
        <td>Fax</td>
        <td><%= address.fax %></td>
      </tr>
      <tr>
        <td>Web</td>
        <td><%= address.web %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= address.email %></td>
      </tr>
      <tr>
        <td>Telephone</td>
        <td><%= address.tel %></td>
      </tr>
      
      <tr>
        <td><span title="This is address we show first when people look for you on www.fdm-europe.com">Primary address</span></td>

        <td><strong><%= address.primary  %></strong> <small>(This address will always be shown as your first address in your profile on the FDM- Practitioners list.)</small></td>
      </tr>
      <tr>
        <td><span title="This is address we use for billing the membership fee">Billing address</span></td>
        <td><strong><%= address.billing_address  %></strong> <small>(Unless this address is also your primary address, we will only use this address to bill you. This address will not appear on the FDM- Practitioners list.)</small></td>
      </tr>
      
    </tbody>
  </table>
  <p>
  <%= link_to "Edit address", admin_edit_address_path(address), class: "btn btn-default" %> 
  <% if @member.addresses.count > 1 %>
    <%= link_to 'Delete address', admin_destroy_address_path(address), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <% end %>
  </p>
    
  </div>
  

</div>


<% end %>
<% if @member.addresses.count < 3 %>
  <p><%= link_to "New address", admin_new_address_path(@member.user), class: "btn btn-success" %></p>
<% end %>

<hr>
<% unless @certificates.empty? %>
<h2>Certificates</h2>

<table class="table">
    
    <thead>
      <tr>
        <th>certificate ID</th>
        <th>date</th>
        <th>city</th>
        <th>type of course</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for certificate in @certificates %>
        <tr>
          <td><%= certificate.special_id %></td>
          <td><%= certificate.course.begin.strftime("%Y.%m.%d") %></td>
          <td><%= certificate.course.city %></td>
          <td><%= certificate.course.course_type %></td>
          <td>
            <%= link_to certificate, class: "button", target: "_blank" do %>
              Show certificate
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <hr>
<% end %>

  <h2>Coupons</h2>

  <table class="table">
    <thead>
      <tr>
        <td>Name</td>
        <td>Code</td>
        <td>Used</td>
        <td>Use date</td>
      </tr>
    </thead>
    <tbody>
      <% for coupon in @coupons %>
        <tr>
          <td><%= coupon.name %></td>
          <td><%= coupon.code %></td>
          <td><%= coupon.code_used %></td>
          <td><%= coupon.updated_at if coupon.code_used == true %></td>
      </tr>
      <% end %>
      
    </tbody>
  </table>
