<%= form_for(@organizer, url: admin_update_organizer_path) do |f| %>
  





  <%= f.fields_for :member do |member_fields| %>

    <div class="field">
      <%= member_fields.label :organizer_name %><br />
      <%= member_fields.text_field :organizer_name, class: "form-control" %>
    </div>

    <div class="form-group">
  <strong>Organizer logo</strong><br>

    <% if @organizer.member.avatar.url(:regular) %>
      <%= image_tag @organizer.member.avatar.url(:regular) %>
    <% end %>
    
    <%= member_fields.file_field :avatar %> 
  </div>

  


  <% end %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email, class: "form-control" %>
    </div>



  <div class="col-md-12">
    <br>
    <%= f.submit "Save", class: "btn btn-success", style: "width: 100%;" %>
  </div>
<% end %>