Full name, email, date of last payment, payment type
<% for user in @users %>
<%= user.member.full_name %>, <%= user.email %>, <% if user.payments.last %><%= user.payments.last.created_at %>, <%= user.payments.last.payment_customer_id.nil? ? "Überweisung" : "Card" %>  <% end %>
<% end %>