<h1>Member Payments</h1>
<p>Check if member has paid. <a href="/admin/has_paid.csv" class="btn btn-success">Download as CSV</a></p>

<table class="table table-striped">
	<tr>
		<th>Name</th>
		<th>Date of last payment</th>
		<th>Type of payment</th>
		<th>Member Email</th>
		<th></th>
	</tr>
	<% for payment in @payments %>
	<% unless payment.user.nil? %>
	<% unless payment.user.member.nil? %>
		<tr>
			<td><%= payment.user.member.full_name unless payment.user.member.firstname.nil? %></td>
			<td><%= payment.created_at   %></td>
			<td><%= payment.payment_customer_id.nil? ? "Überweisung" : "Card" if payment %></td>
			<td><%= payment.user.email unless payment.user.email.nil? %></td>
			<td>
			    <% if payment %>
			     <%= link_to "Show payment confirmation", target: "_new" admin_show_invoice_path(payment.user.id) %>
			    <% end %>
			</td>
			 

			
		</li>
		<% end %>
	<% end %>
	<% end %>
</table>






