<h1>Organizer look up</h1>


<table class="table table-striped">
	<tr>
		<th></th>
		<th>name</th>
		<th></th>
		
	</tr>
	
	<% for organizer in User.with_role("organizer") %>
		<tr>
			<td></td>
			<td><%= organizer.member.organizer_name %></td>

			<td> <a href="<%= admin_edit_organizer_path(organizer) %>" class="btn btn-default" title="edit organizer"><i class="fa fa-pencil fa-fw"></i></a> </td> 



			
			
			
		</li>
	<% end %>
</table>



