<% 
html = ""
for member in @members
	html += "<tr>"
	html += "<td>#{h member.user.id}</td>"
	html += "<td>#{h member.full_name}</td>"
	html += "<td>#{h member.addresses.last.city if member.addresses.last}</td>"
	html += "<td>#{h member.member_type > 0 ? "Member" : "Probe"}</td>"
	html += '<td><a href="' + admin_edit_user_path(member) + '" class="btn btn-default" title="edit member"><i class="fa fa-pencil fa-fw"></i></a></td>'
	html += '<td>' + button_to("send login", {action: :resend_member_email, user_id: member.user.id}, class: "btn btn-default", title: "send login information") + '</td>'
	
	html += '<td>' + button_to("delete",{action: :delete_user, id: member.user.id, method: :delete}, data: { confirm: "Are you sure?"}, class: "btn btn-danger", title: "Delete member") + '</td>'
	html += "</tr>"
end

%>



$(".member-list-search tbody").html('<%= raw html %>');