<h1>Member look up</h1>
<p>Please search by name in order to change all settings.</p>


<%= form_tag :list_searched_members, remote: true do  -%>
	<div class="form-field">
		<%= text_field_tag :person_name, "" ,placeholder: "title firstname lastname grade", class: "form-control" %>
	</div>
	<br>
	<%= submit_tag "Übermitteln", class: "btn mx-auto", style: "width: 100%;" %>

<% end -%>

<h2>Last 10 members</h2>
<table class="table table-striped member-list-search">
	<tr>
		<th></th>
		<th data-sort="string">name</th>
		<th data-sort="string">location</th>
		<th data-sort="string">member email</th>
		<th data-sort="string">member type</th>
		<th></th>
		<th></th>
		<td></td>
	</tr>
	<% @members.each_with_index do |member, i| %>
		<tr>
			<td><%= member.user.id %></td>
			<td><%= member.full_name %></td>
			<td><%= "#{member.addresses.first.city}" unless member.addresses.first.nil? %></td>
			<td><%= member.user.email unless member.user.nil? %></td>
			<td>
				<% if member.member_type == 0 %>
				    Probe
				<% elsif member.member_type == 1 %>
				    Mitglied
				<% else %> 
				   IC
				<% end %> 
			</td>
			<td> <a href="<%= admin_edit_user_path(member) %>" class="btn btn-default" title="edit member"><i class="fa fa-pencil fa-fw"></i></a> </td> 

			<td>
			<% unless member.user.nil? %>
				<%= button_to({action: :resend_member_email, user_id: member.user.id}, class: "btn btn-default", title: "send login information") do %>
					<i class='fa fa-envelope'></i>
				<% end %>
			
			<% end %>
			</td>
			<td><% unless member.user.nil? %>
			<%= button_to({action: :delete_user, id: member.user.id, method: :delete}, data: { confirm: "Are you sure?"}, class: "btn btn-danger", title: "Delete member") do %>
				<i class="fa fa-trash"></i>
				<% end %>
			
			<% end %>
			</td>
		</li>
	<% end %>
</table>



