
<div class="row">
	<div class="col-md-12">
		<h1>Next payment for <%= @user.member.full_name %></h1>
	</div>

	<div class="col-md-6">
		<%= form_tag "/admin/create_payment_for_member", method: "post" do -%>
		<div class="form-group">
			<%= label_tag :next_payment %> <br>
			<%= date_field_tag :next_payment, required: "required" %>
			<%= hidden_field_tag :user_id, params[:user_id] %>
			
		</div>

		<div class="form-group">
			<%= submit_tag "Submit" %>
		</div>
		<% end %>
	</div>
</div>