<%= form_for(@organizer, url: admin_create_organizer_path) do |f| %>
  





  <%= f.fields_for :member do |member_fields| %>

    <div class="field">
      <%= member_fields.label :organizer_name %><br />
      <%= member_fields.text_field :organizer_name, class: "form-control" %>
    </div>


  <% end %>



  <div class="col-md-12">
    <br>
    <%= f.submit "Save", class: "btn btn-success", style: "width: 100%;" %>
  </div>
<% end %>