<h2>New address for <%= @member.full_name %></h2>
<%= form_for @address, :url => url_for(:controller => 'admin', :action => 'create_address') do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :office_name %><br>
    <%= f.text_field :office_name %>
  </div>

  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :plz %><br>
    <%= f.text_field :plz %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :tel %><br>
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label :fax %><br>
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :web %><br>
    <%= f.text_field :web %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <% if current_user.member.addresses.count > 0 %>
    <div class="field">
      
      <%= f.label :primary %><br>
      <p>This address will always be shown as your first address in your profile on the FDM- Practitioners list.</p>
      <%= f.check_box :primary %>
    </div>
    <div class="field">
    
      <%= f.label :billing_address %><br>
      <p>Unless this address is also your primary address, we will only use this address to bill you. This address will not appear on the FDM- Practitioners list.</p>
      <%= f.check_box :billing_address %>
    </div>
  <% end %>
 


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
