<%= form_for(@user, url: admin_create_user_path(@user)) do |f| %>
  

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control", required: true %>
  </div>



  <%= f.fields_for :member do |member_fields| %>

    <div class="field">
      <%= member_fields.label :title %><br />
      <%= member_fields.text_field :title, class: "form-control" %>
    </div>
    <div class="field">
      <%= member_fields.label :firstname %><br />
      <%= member_fields.text_field :firstname, class: "form-control", required: true %>
    </div>
    <div class="field">
      <%= member_fields.label :lastname %><br />
      <%= member_fields.text_field :lastname, class: "form-control", required: true %>
    </div>
    <div class="field">
      <%= member_fields.label :grade %><br />
      <%= member_fields.text_field :grade, class: "form-control" %>


    </div>

  <% end %>



  <div class="col-md-12">
    <br>
    <%= f.submit "Create new member", class: "btn btn-success", style: "width: 100%;" %>
  </div>
<% end %>