<h1>Admin statistics</h1>
<div class="row">
	<div class="col-md-4">
		<div class="well">
			<h3>Member count</h3>
			<div class="table-responsive">
				<table class="table">
					<tbody>
						<tr>
							<td>full members <%= (Date.today - 1.year).strftime("%Y") %> </td>
							<td><%= Member.where('member_type > 0 AND extract(year  from created_at) = ?', (Date.today - 1.year).strftime("%Y")).count %></td>
						</tr>
						<tr>
							<td>full members <%= (Date.today ).strftime("%Y") %> </td>
							<td><%= NewMember.where('extract(year  from created_at) = ?', (Date.today).strftime("%Y")).count %></td>
						</tr>
						<tr>
							<td>active trial members</td>
							<td><%= Member.where("member_type = 0 AND created_at > ?", Date.today - 120.days).count %></td>
						</tr>
						<tr>
							<td>active regular members</td>
							<td><%= Member.where(member_type: 1).count %></td>
						</tr>
						<tr>
							<td>active IC members</td>
							<td><%= Member.where(member_type: 2).count %></td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-4">

		<div class="well">
			<h3>Course count</h3>
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
								<td>Courses in <%= (Date.today - 1.year).strftime("%Y") %></td>
								<td><%= Course.where('extract(year  from begin) = ?', (Date.today - 1.year).strftime("%Y")).count %></td>
							</tr>
							<tr>
								<td>Courses in <%= (Date.today ).strftime("%Y") %></td>
								<td><%= Course.where('extract(year  from begin) = ?', (Date.today).strftime("%Y")).count %></td>
							</tr>
							<tr>
								<td>Courses in <%= (Date.today + 1.year ).strftime("%Y") %></td>
								<td><%= Course.where('extract(year  from begin) = ?', (Date.today +  1.year).strftime("%Y")).count %></td>
							</tr>
						</tbody>
					</table>
				</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="well">
			<h3>Organization count</h3>
			<div class="table-responsive">
				<table class="table">
					<tbody>
						<tr>
							<td>Instructors</td>
							<td><%= User.with_role("instructor").collect.count %></td>
						</tr>
						<tr>
							<td>Organizers</td>
							<td><%= User.with_role("organizer").count %></td>
						</tr>
						<tr>
							<td>Admins</td>
							<td><%= User.with_role("admin").count %></td>
						</tr>
						
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="well">
			<h3>Certificate count</h3>
			<div class="table-responsive">
				<table class="table">
					<tbody>
						<tr>
							<td>Certificate created</td>
							<td><%= Certificate.all.count %></td>
						</tr>
						<tr>
							<td>Certificates claimed</td>
							<td><%= Certificate.where("member_id > 0").count %></td>
						</tr>
						
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="well">
			<h3>New Full Members</h3>
			<div class="table-responsive">
				<table class="table">
					<tbody>
						<tr>
							<td><%= (Date.today - 5.month ).strftime("%B") %></td>
							<td><%=  NewMember.where("created_at > ? AND created_at < ?", Time.now.beginning_of_month - 5.month, Time.now.end_of_month - 5.month).count %></td>
						</tr>
						<tr>
							<td><%= (Date.today - 4.month ).strftime("%B") %></td>
							<td><%=  NewMember.where("created_at > ? AND created_at < ?", Time.now.beginning_of_month - 4.month, Time.now.end_of_month - 4.month).count %></td>
						</tr>
						<tr>
							<td><%= (Date.today - 3.month ).strftime("%B") %></td>
							<td><%=  NewMember.where("created_at > ? AND created_at < ?", Time.now.beginning_of_month - 3.month, Time.now.end_of_month - 3.month).count %></td>
						</tr>
						<tr>
							<td><%= (Date.today - 2.month ).strftime("%B") %></td>
							<td><%=  NewMember.where("created_at > ? AND created_at < ?", Time.now.beginning_of_month - 2.month, Time.now.end_of_month - 2.month).count %></td>
						</tr>
						<tr>
							<td><%= (Date.today - 1.month ).strftime("%B") %></td>
							<td><%=  NewMember.where("created_at > ? AND created_at < ?", Time.now.beginning_of_month - 1.month, Time.now.end_of_month - 1.month).count %></td>
						</tr>
						<tr>
							<td><%= (Date.today).strftime("%B") %></td>
							<td><%=  NewMember.where("created_at > ? AND created_at < ?", Time.now.beginning_of_month, Time.now.end_of_month).count %></td>
						</tr>
						
					</tbody>
				</table>
			<a href="<%= who_became_member_path %>" class="btn btn-default">New Paying Members</a>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="well">
			<h3>Visits Member Area</h3>
			<div class="table-responsive">
				<table class="table">
					<tbody>
						<tr>
							<td><%= (Date.today - 4.weeks).strftime("%m.%d") %> - <%= (Date.today - 3.weeks).strftime("%m.%d") %></td>
							<td><%= Visit.where("started_at > ? and started_at < ?", Date.today - 4.weeks, Date.today - 3.weeks).count %></td>
						</tr>
						<tr>
							<td><%= (Date.today - 3.weeks).strftime("%m.%d") %> - <%= (Date.today - 2.weeks).strftime("%m.%d") %></td>
							<td><%= Visit.where("started_at > ? and started_at < ?", Date.today - 3.weeks, Date.today - 2.weeks).count %></td>
						</tr>
						<tr>
							<td><%= (Date.today - 2.weeks).strftime("%m.%d") %> - <%= (Date.today - 1.weeks).strftime("%m.%d") %></td>
							<td><%= Visit.where("started_at > ? and started_at < ?", Date.today - 2.weeks, Date.today - 1.weeks).count %></td>
						</tr>
						<tr>
							<td><%= (Date.today - 1.weeks).strftime("%m.%d") %> - <%= (Date.today).strftime("%m.%d") %></td>
							<td><%= Visit.where("started_at > ? and started_at < ?", Date.today - 1.weeks, Date.today).count %></td>
						</tr>
						
						
					</tbody>
				</table>
			
			</div>
		</div>
	</div>
	
</div>
