<div class="table">
	<table class="table">
		<tr>
			<th>Name</th>
			<th>is certified</th>
			<th>registered on</th>
			<th>Payment</th>
			<th>Date</th>
		</tr>
	<% for new_member in @new_members %>
		<tr>
			<td>
			<%= new_member.user.member.full_name %>			
			</td>
			<td><%= new_member.user.member.certified %></td>
			<td><%= new_member.user.created_at.strftime("%Y-%m-%d") %></td>
			<td><%= new_member.user.payments.last.payment_customer_id.nil? ? "Überweisung" : "Card" if new_member.user.payments.count > 0 %> </td>
			<td><%= new_member.created_at.strftime("%Y-%m-%d") %></td>
		</tr>
	<% end %>
	</table>
</div>