<%= form_for(@quit_account) do |f| %>
  <% if @quit_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quit_account.errors.count, "error") %> prohibited this quit_account from being saved:</h2>

      <ul>
      <% @quit_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mails_list%><br>
    <%= text_area_tag :mails_list %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
