<p id="notice"><%= notice %></p>

<h1>Listing Quit Accounts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Done</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quit_accounts.each do |quit_account| %>
      <tr>
        <td><%= quit_account.email %></td>
        <td><%= quit_account.done %></td>
        <td><%= link_to 'Show', quit_account %></td>
        <td><%= link_to 'Edit', edit_quit_account_path(quit_account) %></td>
        <td><%= link_to 'Destroy', quit_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quit account', new_quit_account_path %>
