<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @quit_account.email %>
</p>

<p>
  <strong>Done:</strong>
  <%= @quit_account.done %>
</p>

<%= link_to 'Edit', edit_quit_account_path(@quit_account) %> |
<%= link_to 'Back', quit_accounts_path %>
