<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :paymill_customer_id %><br>
    <%= f.text_field :paymill_customer_id %>
  </div>
  <div class="field">
    <%= f.label :next_payment %><br>
    <%= f.date_select :next_payment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
