<h1>Editing Payment Channel</h1>



<form id="payments" method="post" action="<%= change_path %>">
  <div id="payment-form"></div>
  <input type="submit" value="Update payment method" >  
</form>



<script src="https://js.braintreegateway.com/v2/braintree.js"></script>

<script>
  braintree.setup(
    "<%= @token %>",
    "dropin", {
      container: "payment-form"
    });
</script>


<%= link_to 'back', payments_path %> 

