
<% unless @payment.payment_customer_id.nil? %>
<div class="row">

	<div class="col-md-5">
		<h1>Your Payment Details</h1>

		<% payment = @payment_info %>
			<% if @payment_method.class == Braintree::PayPalAccount %>

			<div class="well">
				
				<a class="pull-right" href="<%= edit_payment_path(current_user.payments.last.id) %>" data-turbolinks="false">Change type of payment</a>
				<small>Your current payment channel</small>

				<p>Type: <%= image_tag @payment_method.image_url %> | Email: <%= @payment_method.email %>  </p>
			</div>

			<% else %>

			<div class="well">
				
				<a class="pull-right" href="<%= edit_payment_path(current_user.payments.last.id) %>" data-turbolinks="false">Change</a>
				<small>Your current payment channel</small>

				<h3><%= @payment_method.bin %>****<%= @payment_method.last_4 %></h3>
				<p>Type: <%= image_tag @payment_method.image_url %> | Expires on: <%= @payment_method.expiration_month %>/<%= @payment_method.expiration_year %>  </p>
			</div> 

			<% end %>


		
		
	</div>
	
	
</div>
<% else %>

<div class="row">

	<div class="col-md-5">
		<h1>Your Payment Details</h1>

		
			<div class="well">
				
				<a class="pull-right" href="<%= edit_payment_path(current_user.payments.last.id) %>" data-turbolinks="false">Change type of payment</a>
				<small>Your current payment channel</small>

				<p>Sofortüberweisung </p>
			</div>

			


		
		
	</div>
	
	
</div>


<% end %>




<% if @payment.payment_customer_id.nil? %>

<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info" role="alert">
			<p class="bg-default">Your next membership payment is due on: <strong><%= @payment.next_payment %></strong> and will be <strong>&euro; 100,-</strong>.</p>
		</div>
			
		
	</div>
	
</div>


<div class="row">
	<div class="col-md-12">
		<h2>Your Payments</h2>
		
		<div class="table-responsive">
			<table class="table table-striped">

				<thead>
					<tr>
						<th>Date</th>
						
						
						
						<th>Amount</th>
						<th>Download</th>
					</tr>
				</thead>
				<tbody>
						<% @payments.each do |payment| %>
						<tr>
							<td>
								<%= payment.created_at.strftime("%Y-%m-%d") %>
							</td>
							
							<td>
								&euro; 140,-
							</td>

							<td><%= button_to "show payment confirmation", show_invoice_sofort_path, class: "btn btn-default", method: :post, params: {id: payment.id} %></td>
						</tr>
						<% end %>
					
				</tbody>
			</table>
		</div>
		
	</div>
	
	
</div>


<% else %>

<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info" role="alert">
			<p class="bg-default">Your next automatic membership payment is due on: <strong><%= (@transactions.first.created_at + 1.year).strftime("%Y-%m-%d") %></strong> and will be <strong>&euro; 140,-</strong>.</p>
		</div>
			
		
	</div>
	
</div>


<div class="row">
	<div class="col-md-12">
		<h2>Your Payments</h2>
		
		<div class="table-responsive">
			<table class="table table-striped">

				<thead>
					<tr>
						<th>Date</th>
						<th>Card number</th>
						
						
						<th>Amount</th>
						<th>Download</th>
					</tr>
				</thead>
				<tbody>
					<% for transaction in @transactions %>

						<tr>
							<td>
								<%= transaction.created_at.strftime("%Y-%m-%d") %>
							</td>
							
							<td>
								<% if transaction.credit_card_details.bin %>
								<%= transaction.credit_card_details.bin %>****<%= transaction.credit_card_details.last_4 %>
								<% end %>
							</td>

								
							<% if transaction.status == "settled" %>
							<td>&euro; <%= transaction.amount %></td>
							<td><%= button_to "show payment confirmation", show_invoice_path, params: {transaction_id: transaction.id}, class: "btn btn-default", method: :post %></td>

							<% else %>

							<td>&euro; <%= transaction.status %></td>
							<td></td>

							<% end %>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		
	</div>
	
	
</div>

<% end %>


