<div class="row">
    <% if current_user.member.member_type == 0 %>
    <div class="col-md-12">
        <h1>Become a full member</h1>
        <p><%= current_user.member.full_name %>, becoming a full member with the EFDMA covers these advantages for you:</p>
        <ul>
            <li><strong>Members are listed in the register of FDM Practitioners</strong></li>
            <ul>
                <li>with contact data and picture, if they can provide proof for having obtained the FDM Basic Certificate (FDM BC)</li>
                <li>as FDM Practitioners in training without contact data, if they have not yet obtained the FDM BC</li>
            </ul>
            <li><strong>Possibility to participate in local FDM Workgroups</strong></li>
            <li><strong>Possibility to benefit from the network of FDM Practitioners and exchange with them</strong></li>
            <li><strong>Newsletter with information about FDM Workgroups, training and continuing education seminars as well as current research and development regarding the FDM and Typaldos method</strong></li>
            <li><strong>Password-protected member area on our website offering:</strong></li>
            <ul>
                <li>Possibility to update your profile</li>
                <li>Templates for various forms (e.g. patient information folder)</li>
                <li>Information about studies regarding the FDM and associated topics</li>
                <li>Information about discounts</li>
                <li>Teaching contents (e.g. webinars, congress contributions, etc.)</li>
                <li>News for members</li>
            </ul>
        </ul>
        
    </div>
    <% end %>
</div>
<hr>
<div class="row">

    <div class="col-md-12">

        <h2>Membership fee and payment</h2>      
        <p>The annual membership fee of the EFDMA is <strong>&euro; 140,-</strong>. You can pay our fee using the following payment gateways. If you have questions or cannot pay using one of the provided gateways please don't hesitate to contact us via email: <a href="mailto: office@fdm-europe.com">office@fdm-europe.com</a>.</p>

        <p>
            Currently you can pay your annual membership fee with the following payment gateways.
        </p>
        <ul>
            <li>Maestro (Debitcard)</li>
            <li>Maestro UK (Debitcard)</li>
            <li>Master Card</li>
            <li>Visa</li>
            <li>Discover</li>
            <li>PayPal</li>
            <li>Sofort &Uuml;berweisung</li>
            
            
        </ul>
        <p class="well"><strong>You can use the form below to either fill in your Maestro or credit card information or click the PayPal-Button to pay using PayPal.<br> <i>On some Maestro cards you only see "valid through" and the year. Please type in 12 for month and your year as the expiration date in the form below.</i></strong></p>
    </div>
</div>
<hr>
<p>
<%= link_to send_sofort_payment_path  do %>
    <%= image_tag("sofortueberweisung.jpg", width: 101, alt: "Sofortüberweisung") %>
<% end %>
<- New
</p>






<form id="payments" method="post" action="/payments">
<div class="col-md-12 hide-me">
                  <p class="bg-danger"> You need to activate Javascript in order to see the payment form. <a href="http://www.enable-javascript.com" target="_blank">Please click here to find out how.</a></p>
                  
</div>
  <div id="payment-form"></div>
  <input type="submit" value="Submit">
</form>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>

<script typy="text/javascript">
  braintree.setup(
    // Replace this with a client token from your server
    "<%= @token %>",
    "dropin", {
      container: "payment-form"
    });

    $(document).ready(function(){
        $(".hide-me").hide();
    });
</script>




