<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @payment.user_id %>
</p>

<p>
  <strong>Paymill customer:</strong>
  <%= @payment.paymill_customer_id %>
</p>

<p>
  <strong>Next payment:</strong>
  <%= @payment.next_payment %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
