<p id="notice"><%= notice %></p>

<h1>Listing Addresses</h1>

<table>
  <thead>
    <tr>
      <th>Street</th>
      <th>Plz</th>
      <th>City</th>
      <th>Country</th>
      <th>Tel</th>
      <th>Fax</th>
      <th>Web</th>
      <th>Email</th>
      <th>Primary</th>
      <th>Member</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.street %></td>
        <td><%= address.plz %></td>
        <td><%= address.city %></td>
        <td><%= address.country %></td>
        <td><%= address.tel %></td>
        <td><%= address.fax %></td>
        <td><%= address.web %></td>
        <td><%= address.email %></td>
        <td><%= address.primary %></td>
        <td><%= address.member_id %></td>
        <td><%= address.latitude %></td>
        <td><%= address.longitude %></td>
        <td><%= link_to 'Show', member_address_path(@member, address) %></td>
        <td><%= link_to 'Edit', edit_member_address_path(@member,address) %></td>
        <td><%= link_to 'Destroy', member_address_path(@member, address), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_member_address_path(@member) %>
