<p id="notice"><%= notice %></p>

<p>
  <strong>Street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>Plz:</strong>
  <%= @address.plz %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @address.tel %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @address.fax %>
</p>

<p>
  <strong>Web:</strong>
  <%= @address.web %>
</p>

<p>
  <strong>Email:</strong>
  <%= @address.email %>
</p>

<p>
  <strong>Primary:</strong>
  <%= @address.primary %>
</p>

<p>
  <strong>Member:</strong>
  <%= @address.member_id %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @address.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @address.longitude %>
</p>

<%= link_to 'Edit', edit_address_path(@member, @address) %> |
<%= link_to 'Back', member_path(@member) %>
