<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" />
<%= form_for(@scholar) do |f| %>
  <% if @scholar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scholar.errors.count, "error") %> prohibited this scholar from being saved:</h2>

      <ul>
      <% @scholar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control", required: true %>
  </div>
  <div class="form-field">
    <%= f.label :author %><br>
    <%= f.text_field :author, class: "form-control author-list", required: true %>
  </div>
  <div class="form-field">
    <%= f.label :published %><br>
    <%= f.select :published, (1900..Date.today.year).to_a.reverse.map {|p| [p.to_s,p.to_s]}, {prompt: "Please select"} %>
  </div>
  <div class="form-field">
    <%= f.label :scholar_category_id %><br>
    <%= f.select(:scholar_category_id, ScholarCategory.all_children_categories.order(:name).map {|p| ["#{p.name} (in #{p.mother_category.name})", p.id]}, { prompt: "Please select" }, required: true) -%>
  </div>
  <div class="form-field">
    <%= f.label :public %><br>
    <%= f.check_box :public , class: "form-control"%>
  </div>
  <% if @scholar.document.nil? %>
   <div class="form-field">
     <%= f.label :document %><br>
     <%= f.file_field :document, class: "form-control", required: true, class: "form-control", required: true %><br>
   </div>

  <% else %>
<div class="form-field">
     <%= f.label :document %><br>
     <% unless @scholar.document.url.nil? %>
      <p>View current document: <%= link_to "open document", @scholar.document.url, class: "btn btn-default", target: "_new" %></p>
      <p>External link: <a href="<%= root_url %>scholars/external/<%= @scholar.link %>" target="_new"><%= root_url %>scholars/external/<%= @scholar.link %></a> </p>
     <% end %>
     <%= f.file_field :document, class: "form-control" %><br>

   </div>

  <% end %>
  
  <div class="actions">
    <%= f.submit "Save", class: "btn btn-success" %>
  </div>
<% end %>
<script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
  crossorigin="anonymous"></script>
<script>
 var availableNames = <%= raw @authors %>;
  jQuery(document).ready(function($){
    $(".author-list").autocomplete({source: availableNames });  
  });
  
</script>
