<% if @scholars.count > 0 %>
  <table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Published</th>
      <th>Category</th>
      <th>Public</th>
      
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @scholars.each do |scholar| %>
      <tr>
        <td><%= scholar.title %></td>
        <td><%= scholar.author %></td>
        <td><%= scholar.published %></td>
        <td><%= scholar.mother_category %></td>
        <td><%= scholar.public %></td>
        
        <td><%= link_to 'Download', scholar, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_scholar_path(scholar) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
<p>Sorry, no search results. Please try fewer filter criteria.</p>
<% end %>