<h1>Editing document</h1>

<%= render 'form' %>
or<br>
<%= link_to @scholar, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do  %>
            <i style="color: white;" class="fa fa-trash"></i> Delete document
          <% end %><br>
<%= link_to 'Back', scholars_path %>
