<% if current_user.has_role?("admin") %>
<%= link_to 'New document', new_scholar_path, class: "btn btn-success" %>
<% end %>
<h1>EFDMA database of scientific documents</h1>
<div>
  <%= form_tag scholars_list_searched_scholars_path, remote: true do  -%>
  <div class="form-field">
    <%= text_field_tag :title, "" , placeholder: "Search for title, author or words in the document", class: "form-control" %>
  </div>
  <br>
  <%= submit_tag "Submit", class: "btn mx-auto", style: "width: 100%;" %>
  <% end -%>
</div>
<div id="table-holder">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Published</th>
        <th>Category</th>
        <th>Public</th>
        
        <th width="10"></th>
      </tr>
    </thead>
    <tbody>
      <% @scholars.each do |scholar| %>
      <tr>
        <td><%= scholar.title %></td>
        <td><%= scholar.author %></td>
        <td><%= scholar.published %></td>
        <td><%= scholar.mother_category %></td>
        <td><%= scholar.public %></td>
        
        <td><%= link_to 'Download', scholar, class: "btn btn-primary" %>
          <% if current_user.has_role?("admin") %>
          <%= link_to edit_scholar_path(scholar), class: "btn btn-default" do  %>
          <i class="fa fa-pencil fa-fw"></i>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<h2>Categories</h2>
<ol>
  <% @scholarcategories.each do |category| %>
  <li>
    <span class="category_title"><%= category.name %></span> (click for details)
    
    <table class="table category-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Published</th>
          <th>Category</th>
          <th>Public</th>
          
          <th width="10"></th>
        </tr>
      </thead>
      <tbody>
        <% category.get_scholars_in_category.each do |scholar| %>
        <tr>
          <td><%= scholar.title %></td>
          <td><%= scholar.author %></td>
          <td><%= scholar.published %></td>
          <td><%= scholar.mother_category %></td>
          <td><%= scholar.public %></td>
          
          <td><%= link_to 'Download', scholar, class: "btn btn-primary" %>
            <% if current_user.has_role?("admin") %>
            <%= link_to edit_scholar_path(scholar), class: "btn btn-default" do  %>
            <i class="fa fa-pencil fa-fw"></i>
            <% end %>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </li>
  <% end %>
</ol>

<script>
  $(".category_title").on("click", function(){
    $(this).parent().find(".category-table").toggle();
  });
</script>