

<p>
  <strong>Title:</strong>
  <%= @scholar.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @scholar.author %>
</p>

<p>
  <strong>Published:</strong>
  <%= @scholar.published %>
</p>

<p>
  <strong>Category:</strong>
  <%= @scholar.category %> (in <%= @scholar.mother_category %>)
</p>

<p>
  <strong>Public:</strong>
  <%= @scholar.public %>
</p>

<p>
  <strong>External Link:</strong>
  <a href="<%= @scholar.external_link %>" target="_new"><%= @scholar.external_link %></a>
</p>
<p>
  <strong>Downloads:</strong>
  <%= @scholar.downloads %>
  <small> downloads by regular members and external downloads using external link</small>
</p>

<%= link_to 'Edit', edit_scholar_path(@scholar) %> |
<%= link_to 'Back', scholars_path %>
