<%= form_for(@member_file) do |f| %>
  <% if @member_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member_file.errors.count, "error") %> prohibited this member_file from being saved:</h2>

      <ul>
      <% @member_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>
  <div class="form-group">
    <%= f.select(:category,MemberFile.all.map(&:category).uniq, class: "form-control") %> <button id="model-opener"><i class="fa fa-plus"></i> add category</button>
  </div>


  <div class="form-group">
      

      
      <%= f.file_field :document, class: "form-control", required: true %> 
      <p>All file formats are allowed</p>
      
    </div>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>


<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add file category</h4>
      </div>
      <div class="modal-body">
        <p><label>name <input type="text" placeholder="add category name" id="new_category_name"></label></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="add_category" type="button" class="btn btn-primary">Add name</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
  $(document).ready(function(){
    $("#model-opener").on("click", function(e){
      e.preventDefault();

      $(".modal").modal("toggle");

    });
    $("#add_category").on("click", function(){

        $val = $("#new_category_name").val();
        console.log($val);
        $("#member_file_category").prepend($("<option/>", {value: $val, text: $val}));
        $(".modal").modal("toggle");
    });
  });
</script>