<h1>Listing Member Files</h1>
<p>These documents are <strong>ONLY</strong> available for <strong>EFDMA MEMBERS</strong>. The authorization of the use of these documents is only valid during the membership in the EFDMA. A forwarding to other persons is <strong>NOT</strong> allowed.</p>
<% if current_user.has_role?("admin") %>
  <%= link_to(new_member_file_path, class:"btn btn-success") do  %>
    <span style="color: white;">Upload new file</span>
  <% end %>
  <hr>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>File</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @member_files.each do |member_file| %>
      <tr>
        <td><%= member_file.name %></td>
        <td><%= member_file.category %></td>
        <td><%= link_to "Download file", member_file.document.url, class: "btn btn-success", target: '_new' %></td>
        <% if current_user.has_role?("admin") %>
        <td><%= link_to(edit_member_file_path(member_file), class: "btn btn-default") do  %>
            <i class="fa fa-pencil fa-fw"></i>
          <% end %> 

          <%= link_to member_file, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do  %>
            <i style="color: white;" class="fa fa-trash"></i>
          <% end %></td>
          <% end %>
        


        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if @scholars %>
  <h2>Scientific Documents</h2>
  <table class="table">
  <thead>
    <tr>
      <th width="50%">Title</th>
      <th>Author</th>
      
      
      
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @scholars.each do |scholar| %>
      <tr>
        <td><%= scholar.title %></td>
        <td><%= scholar.author %></td>
        
        
        
        <td><%= link_to 'Download file', "#{root_url}scholars/external/#{scholar.link}", class: "btn btn-success" %>
        <% if current_user.has_role?("admin") %>
        <%= link_to edit_scholar_path(scholar), class: "btn btn-default" do  %>
          <i class="fa fa-pencil fa-fw"></i>
          <% end %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>


