<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member_file.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @member_file.category %>
</p>

<%= link_to 'Edit', edit_member_file_path(@member_file) %> |
<%= link_to 'Back', member_files_path %>
