<div class="row">
  <div class="col-md-6">
    

<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :course_type %><br>
    <%= f.select(:course_type, ['Modul 1', 'Modul 2', "Modul 3", "Practical Training", "FDM BC", "FDM Advanced"], {include_blank: "Select course type", :required => true, }, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label :instructor_id %>
    <%= f.select(:instructor_id, User.with_role(:instructor).includes("member").order("members.lastname").collect {|p| [ p.member.full_name, p.id.to_i ] }, {include_blank: 'None', :required => true}, class: "form-control") %>
  </div>
    <div class="form-group">
    <%= f.label :organizer_id %>
    <%= f.select(:organizer_id, User.with_role(:organizer).includes("member").order("members.organizer_name").collect {|p| [ p.member.organizer_name, p.id.to_i ] }, {include_blank: 'None', :required => true}, class: "form-control") %>
  </div>
  
  <div class="form-group">
    <%= f.label :city %><br>
    <%= f.text_field :city, placeholder: "City, Country", :required => true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :begin %><br>
    <%= f.datetime_select :begin, :required => true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :end %><br>
    <%= f.datetime_select :end, :required => true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Link to course details" %><br>
    <%= f.text_field :link, :required => true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "additional information to course" %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "send", class: "btn btn-large btn-success" %>
  </div>
<% end %>
  </div>
</div>