

<h1>Edit your courses</h1>

<table class="table">
  <thead>
    <tr>
      
      <th>Course Type</th>
      <th>City</th>
      <th>Begin</th>
      <th>End</th>
      <th>Instructor</th>
      <th>Organizer</th>
      
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% if current_user.has_role?(:admin) %>
      <% Course.where("begin > ?", Time.now).order(:end).each do |course| %>
          <tr>
            
            <th><%= course.course_type %></th>
            <td><%= course.city %></td>
            <td><%= course.begin.strftime("%Y-%m-%d") %></td>
            <td><%= course.end.strftime("%Y-%m-%d") %></td>
            <td><%= course.instructor_name %></td>
            <td><%= course.organizer_name %></td>
            
            <td><%= link_to "Edit course", edit_course_path(course), class: "btn btn-default" %></td>
            <td><%= button_to "Delete Course", course_path(course), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-warning"  %></td>

          </tr>
        <% end %>




    <% else %>
      <% @courses.each do |course| %>
        <tr>
          
          <th><%= course.course_type %></th>
          <td><%= course.city %></td>
          <td><%= course.begin.strftime("%Y-%m-%d") %></td>
          <td><%= course.end.strftime("%Y-%m-%d") %></td>
          <td><%= course.instructor_name %></td>
          <td><%= course.organizer_name %></td>
          
          <td><%= link_to "Edit course", edit_course_path(course), class: "btn btn-default" %></td>
          <td><%= button_to "Delete Course", course_path(course), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-warning"  %></td>

        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


