<h1>Editing Course</h1>

<%= render 'form' %>


<%= button_to "Delete Course", course_path(@course), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-warning"  %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>
