

<h1>Listing Courses</h1>
<div class="row well">
  <div class="col-md-2">
                                    
                                      <h4>Course category</h4>
                        <input type="radio" name="course_selector" id="checkbox-all" value="all" checked> All <br>
                        <input type="radio" name="course_selector" id="checkbox-m1" value="Modul-1" > Modul 1 <br>
                        <input type="radio" name="course_selector" id="checkbox-m2" value="Modul-2" > Modul 2 <br>
                        <input type="radio" name="course_selector" id="checkbox-m3" value="Modul-3" > Modul 3 <br>
                        <input type="radio" name="course_selector" id="checkbox-all" value="Practical-Training" > Practical Training <br>
                        <input type="radio" name="course_selector" id="checkbox-all" value="FDM-BC" > FDM BC <br>
                        <input type="radio" name="course_selector" id="checkbox-all" value="FDM-Advanced" > FDM Advanced <br>
                         
                        <p></p>   
  </div>
                      
  <div class="col-md-3">
                        <h4>Choose instructor</h4>
                        <select name="instructor" id="instructor_selector">
                          <option value="all">all instructors</option>
                          <% for instructor in User.with_role(:instructor).includes("member").order("members.lastname") %>
                            <option value="<%= instructor.member.full_name %>"><%= instructor.member.full_name %></option>
                          <% end %>
                          
                            
                          
                        </select>
                        <p></p>
  </div>
                      
  <div class="col-md-2">
                        <h4>Choose place</h4>
                        <select name="place" id="place_selector">
                          <option value="all">all places</option>
                          <% for city in  Course.where("begin >= ?", Time.now - 1.day).order("city").map {|a| a.city}.uniq %>
                            <option value="<%= city %>"><%= city %></option>
                          <% end %>
                          
                            
                          
                        </select>
</div>
                      
                      
                                  
</div>

<table class="table">
  <thead>
    <tr>
      
      <th>Course Type</th>
      <th>City</th>
      <th>Begin</th>
      <th>End</th>
      <th>Instructor</th>
      <th>Organizer</th>
      
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr class="course-listing <%= course.course_type.gsub!(" ","-") %>">
        
        <th width="150" class="course_type"><%= course.course_type %></th>
        <td class="place"><%= course.city %></td>
        <td><%= course.begin.strftime("%Y-%m-%d") %></td>
        <td><%= course.end.strftime("%Y-%m-%d") %></td>
        <td><span class="instructor"><%= course.instructor_name %></span></td>
        <td><%= course.organizer_name %></td>
        
        <td><a class="btn btn-default" href="<%= course.link %>" target="_blank">To registration</a></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
                        jQuery(document).ready(function($){
                          
                          function striping() {
                            $(".course-listing").removeClass("striped");
                              $(".course-listing:visible").each(function(i){
                                if (i % 2 == 0) $(this).addClass("striped");
                            });
                            
                          }
                          striping();
                            
                          $("[type=radio]").on("click", function(){
                            $("#instructor_selector").val("all");
                            $("#place_selector").val("all");
                            
                            var $val = $(this).val();
                            
                            if($val == "all") {
                              $("tr").show();
                              
                              striping();
                              
                            } else {
                              $(".course-listing").hide();
                              $("tr."+$val).show();
                              
                              striping();
                              
                              
                            } 
                            
                          });
                          
                          $("#instructor_selector").on("change", function() {
                            
                            $("#checkbox-all").attr("checked", "checked");
                            $("#place_selector").val("all");
                            
                            var $val = $(this).val();
                            
                            if($val == "all") {
                              $(".course-listing").show();
                            } else {
                              $(".course-listing").each(function(){
                                
                                var $temp_name = $(this).find("span").text();
                                if ( $temp_name == $val ) {
                                  console.log( "true ");
                                  $(this).show();
                                  
                                } else  {
                                  console.log( "false" );
                                  $(this).hide();
                                }
                                
                                
                                
                                
                              });
                              
                              
                              
                              
                              
                              
                            }
                            striping();
                          });
                          
                          $("#place_selector").on("change", function() {
                            
                            $("#checkbox-all").attr("checked", "checked");
                            $("#instructor_selector").val("all");
                            
                            var $val = $(this).val();
                            
                            if($val == "all") {
                              $(".course-listing").show();
                              
                            } else {
                              $(".course-listing").each(function(){
                                
                                var $temp_name = $(this).find(".place").text();
                                if ( $temp_name == $val ) {
                                  console.log( "true ");
                                  $(this).show();
                                  
                                } else  {
                                  console.log( "false" );
                                  $(this).hide();
                                }
                                
                                
                                
                                
                              });
                              
                              
                              
                              
                            }
                            striping();
                            
                          });
                            
                          
                        });
                        
                      </script>


