

<p>
  <strong>User:</strong>
  <%= @course.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>City:</strong>
  <%= @course.city %>
</p>

<p>
  <strong>Begin:</strong>
  <%= @course.begin %>
</p>

<p>
  <strong>End:</strong>
  <%= @course.end %>
</p>

<p>
  <strong>Link:</strong>
  <%= @course.link %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
