<h2>Add new certificate</h2>
<p>Please add your certificate ID in the field below. You can find your certificate ID in the bottom of your certificate. (This only applies for certificates which were issued after Februar 2016. )</p>

<%= form_tag(controller: "certificates", action: "save_certificate", method: "post") do %>
<%= text_field_tag(:special_id, nil, placeholder: "certificate ID", required: true) %>
<%= submit_tag "Add certificate" %>
<% end %>