<h1>Your Certificates</h1>

<% if @certificates.empty? %>

	<p>Sorry, we couldn't find any certificate.</p>
	

<% else %>
	<table class="table">
		
		<thead>
			<tr>
				<th>certificate ID</th>
				<th>date</th>
				<th>city</th>
				<th>type of course</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% for certificate in @certificates %>
				<tr>
					<td><%= certificate.special_id %></td>
					<td><%= certificate.course.begin.strftime("%Y.%m.%d") %></td>
					<td><%= certificate.course.city %></td>
					<td><%= certificate.course.course_type %></td>
					<td>
						<%= link_to certificate, class: "button", target: "_blank" do %>
							Show certificate
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	
<% end %>
<hr>


<%= render "add_certificate" %>