<h1>Create new certificates</h1>
Please fill out all fields in order to create certificates for your desired course. 



<%= form_for Certificate.new do |f| %>


  <div class="field">
    <%= f.label :course_id %>
    
    <%= f.select(:course_id, Course.where(course_type: "FDM BC").order("begin").collect {|p| [ "#{p.course_type} | #{p.city}, #{p.begin.strftime("%Y.%m.%d")}", p.id ] }, {include_blank: 'Choose course'}) %>

    
  </div>	


<p>Please add one name per line. (You can also copy&paste them from a spreadsheet.) </p>
<%= f.text_area :name, placeholder: "first name \nsecond name \nthird name" %><br>
<%= f.submit "create certificates" %>


<% end %>