// Place all the styles related to the scholars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category_title {
	font-weight: bold;
}
.category_title:hover {
	cursor: pointer;
}

.category-table {
	display: none;
}