

#new_user {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
#new_user .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
#new_user .checkbox {
  font-weight: normal;
}
#new_user .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
#new_user .form-control:focus {
  z-index: 2;
}
#new_user input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#new_user input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.empty h2, .empty p, .empty label, .empty h3, .empty li {
  color: white;
}
.flash_alert {
  color: white !important;
}
.advanced_filters {
  display: none;
}
.advanced_filters.open {
  display: block;
}
#advanced-filter-toggle {
  text-decoration: underline;
  cursor: pointer;
}

