<!DOCTYPE html>
<html>
  <head>
    <title>Efdma</title>
    
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

    <body>
      <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%= root_url() %>"><%= image_tag("transparent_white.png", alt: "EFDMA", class: "img-responsive")  %></a>
          </div>
          <!-- Top Menu Items -->
          <ul class="nav navbar-right top-nav">
            <li><a href="<%= edit_member_path(current_user.member) %>">logged in as <%= current_user.member.full_name %></a></li>
            <li class="dropdown">
              
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i> Settings <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to payments_path, data: { no_turbolink: true } do %>
                    <i class="fa fa-fw fa-money"></i> Payments
                  <% end %>
                </li>
                <li>
                  <a href="<%= edit_user_registration_path %>"><i class="fa fa-fw fa-gear"></i> Login Info</a>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do  %>
                    <i class="fa fa-fw fa-power-off"></i> Log Out
                  <% end %>
                  
                </li>
              </ul>
            </li>
          </ul>
          <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
              <li <% if params[:controller] == "members" && params[:action] == "dashboard" %>class="active"<% end %>>
                <%= link_to dashboard_path(current_user.member) do %>
                  <i class="fa fa-fw fa-dashboard"></i> Dashboard
                <% end %>
                </a>
              </li>
              <li <% if params[:controller] == "members" && params[:action] == "edit" %>class="active"<% end %>>
                <%=  link_to edit_member_path(current_user.member) do %>
                  <i class="fa fa-fw fa-user"></i> Profile
                <% end %>
                
              </li>
              
                <li <% if params[:controller] == "courses" %>class="active"<% end %>>
                  <%= link_to courses_path do %>
                    <i class="fa fa-fw fa-book"></i> Courses
                  <% end %>
                  <% if current_user.has_role? :admin or current_user.has_role? :instructor or current_user.has_role? :organizer %>
                    <ul class="collapse in">
                      <li><%= link_to "Edit your courses", edit_overview_path %></li>
                      <li><%= link_to "Create new course", new_course_path %></li>
                    </ul>
                  <% end %>
                  
                </li>
              
              <li <% if params[:controller] == "certificates"  %>class="active"<% end %>>
                <%= link_to certificates_path do %>
                  <i class="fa fa-fw fa-certificate"></i> Certificate
                <% end %>
                  <% if current_user.has_role? :admin or current_user.has_role? :instructor  %>
                    <ul class="collapse in">
                      <li>
                        <%= link_to new_certificate_path do %>
                          Create new certificates
                        <% end %>
                      </li>
                    </ul>
                  <% end %>
              </li>
              <li>
                <%= link_to(member_files_path) do %>
                  <i class="fa fa-fw fa-download"></i> Member files
                <% end %>
              </li>
              <li <% if params[:controller] == "members" && params[:action] == "contact" %>class="active"<% end %>>
                <%= link_to contact_path do %>
                  <i class="fa fa-fw fa-envelope-o"></i> Contact
                <% end %>
                
              </li>
              <% if current_user.has_role? :admin %>
              <li <% if params[:controller] == "admin" %>class="active"<% end %>>
              <%= link_to admin_stats_path do %>
                  <i class="fa fa-fw fa-lock"></i> Admin statistics
                <% end %>
                  <ul class="collapse in">
                    <li><%= link_to "Look up user", admin_look_up_path %></li>
                    <li><%= link_to "New Member", admin_new_user_path %></li>
                    <li><%= link_to "Member Payments", admin_has_paid_path %></li>
                    <li><%= link_to "Organizers", admin_organizers_path %></li>
                    <li><%= link_to "New organizer", admin_organizer_new_path %></li>
                    <li><%= link_to "Quit members", admin_quit_members_path %></li>
                  </ul>
                
              </li>
              <% end %>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
          <div class="container-fluid">
            <div class="alerts">
              
            
            <div class="row">
              <% if flash[:alert] %>
              <div class="col-md-12">
                <p class="bg-danger"><%= flash[:alert] %></p>  
              </div>
              
              <% end %>
              <% if flash[:notice] %>
              <div class="col-md-12">
                <p class="bg-primary"><%= flash[:notice] %></p>  
              </div>
              
              <% end %>

              <% if current_user.member.member_type == 0 && current_user.member.trial_ends > Time.now %>
                <div class="col-md-12">
                  <p class="bg-success"> Your trail membership ends in <%= ((current_user.member.trial_ends - Time.now)/60/60/24).round(0) %> days. <%= link_to "See your advantages in becoming a full member today.", payments_path, data: { no_turbolink: true } %> <br> From October 2nd, 2017 the membership fee amounts  € 140, -.-</p>
                </div>
                
              

              <% elsif current_user.member.member_type > 0  && current_user.payments.last.nil? %>
                <div class="col-md-12">
                  <p class="bg-danger"> Your membership payment is due. Please add your payment method here: <%= link_to "Click here to pay your membership", payments_path, data: { no_turbolink: true } %> .</p>
                </div>
                
              <% elsif current_user.member.member_type > 0 && current_user.payments.last.next_payment < Date.today + 3.weeks && current_user.payments.last.payment_customer_id.nil? %>

                <div class="col-md-12">
                  <p class="bg-danger"> Your membership payment is due. Please add your payment method here: <%= link_to "Click here to pay your membership", new_payment_path, data: { no_turbolink: true } %> .</p>  
                </div>

                

              <% end %>




              
              
            </div>
            </div>
            
            <%= yield %>
            
          </div>
        </div>
      </div>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
      <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76771509-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
  </html>