<h1>Members#add_certificate</h1>
<p>Find me in app/views/members/add_certificate.html.erb</p>

<%= form_tag(controller: "members", action: "save_certificate", method: "post") do %>
<%= text_field_tag(:special_id) %>
<%= submit_tag "Hinzufügen" %>
<% end %>