<h1>Contact</h1>
<div class="container">
<div class="row">
  <%= form_tag "/send_contact" %>
    <div class="col-lg-6">
    <div class="input-group">
  <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-user"></i></span>
  <input type="text" name="name" class="form-control" placeholder="Username" aria-describedby="sizing-addon2" value="<%= current_user.member.full_name %>" required>
</div>
      <p></p>
      <div class="input-group">
  <span class="input-group-addon" id="sizing-addon2">@</span>
  <input type="email" name="email" class="form-control" placeholder="Username" aria-describedby="sizing-addon2" value="<%= current_user.email %>" required>
</div>
<p></p>
<div class="input-group">
  <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-envelope"></i></span>
  <textarea class="form-control" name="message" rows="6" required></textarea>
</div>
<p></p>
      
      
      <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info ">
    </div>
  </form>
  <hr class="featurette-divider hidden-lg">
  
</div>

</div>