<h1>Welcome, <%= current_user.member.firstname %>!</h1>



<div class="row">
	<div class="col-md-8">
		<div class="row">
			
				<div class="col-md-12 well">
					<h2>Upcoming courses</h2>
					
					
						
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-condensed">
										<tbody>
										<% for course in @courses %>
											<tr>
												<td><%= course.course_type%></td>
												<td><%= course.begin.strftime "%Y/%m/%d"  %> (<%= course.duration %>)</td>
												<td><%= course.city %></td>
												<td><%= link_to "learn more", course.link, target: "_blank" %></td>
												
											</tr>
										<% end %>
										</tbody>
									</table>
								</div>
							</div>
							
							
							
						</div>
							


						

					
					
					
				</div>
				
			
		</div>
		<div class="row">
			<div class="col-md-12 bg-info">
				<h2>FDM-Congress</h2>
				<p>Use this personalized code for your member discount at the checkout: <strong><%= @current_user.coupon.first.code %></strong></p>
				<p>Visit <a href="http://www.fdm-congress.com">www.fdm-congress.com</a> for more information.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>News</h2>	
			</div>
			

			<% for post in @blogposts %>

				<div class="col-md-12">
					<h3><a target="_blank" href="<%= post["salty"] > "" ? post["salty"] : post["link"] %>"><%= post["title"] %></a></h3>
					<p>published: <%= post["published"] %></p>
					<hr>
				</div>


			<% end %>


		</div>
	</div>

</div>

<script>
	$(document).ready(function(){
		$("img").removeClass().attr("style", "").addClass("img-responsive");
	})
</script>

