<h1>Your Profile</h1>

<div class="row">
	<%= form_for @member, :html => {:multipart => true} do |f| %>
	<div class="col-md-6">

		<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, class: "form-control", :placeholder => "Dr./Mag. etc."  %>
			
		</div>
		
		<div class="form-group">
		<%= f.label :firstname %>
		<%= f.text_field :firstname, class: "form-control" %>
		</div>

		
		<div class="form-group">
		<%= f.label :lastname %>
		<%= f.text_field :lastname, class: "form-control" %>
			
		</div>
		<div class="from-group">
		<%= f.label :grade %>
		<%= f.text_field :grade, class: "form-control", :placeholder => "M.A./MSc. etc." %>	
		</div>
		<div class="from-group">
		<%= f.label "profession" %>
		<%= f.text_field :job, class: "form-control", :placeholder => "type in your profession" %>	
		</div>
		<div class="from-group">
		<%= f.label :birthday %>
		<%= f.date_field :birthday, class: "form-control" %>	
		</div>

	</div>
	<div class="col-md-6">
		<div class="from-group">
			<%= f.label "profile picture" %> <br/>
			<% if @member.avatar.url(:regular) %>
				<%= image_tag @member.avatar.url(:regular) %>
			<% end %>

			
			<%= f.file_field :avatar %>	
			<p>allowed formats: jpg, png || minimum resolution: 300x300 || max: 10MB</p>
			<%= f.submit "Upload profile picture" %>
			</div>
		
	</div>	
		
		
	<div class="col-md-12">
		<%= f.submit "Update your profile" %>	
	</div>	
	
	<% end %>
		
	

	
</div>


<h2>Your Addresses</h2>
<% for address in @member.addresses %>

<div class="address well">
	<div class="table-responsive">
	<table class="table">
		
		<tbody>
			<tr>
				<td width="200">Office name</td>
				<td><%= address.office_name %></td>
			</tr>
			<tr>
				<td width="200">Address</td>
				<td><%= address.street %> <br><%=  address.plz + " " + address.city %> <br> <%= address.country %></td>
			</tr>
			<tr>
				<td>Telephone</td>
				<td><%= address.tel %></td>
			</tr>
			<tr>
				<td>Fax</td>
				<td><%= address.fax %></td>
			</tr>
			<tr>
				<td>Web</td>
				<td><%= address.web %></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><%= address.email %></td>
			</tr>
			<tr>
				<td>Telephone</td>
				<td><%= address.tel %></td>
			</tr>
			
			<tr>
				<td><span title="This is address we show first when people look for you on www.fdm-europe.com">Primary address</span></td>

				<td><strong><%= address.primary  %></strong> <small>(This address will always be shown as your first address in your profile on the FDM- Practitioners list.)</small></td>
			</tr>
			<tr>
				<td><span title="This is address we use for billing the membership fee">Billing address</span></td>
				<td><strong><%= address.billing_address  %></strong> <small>(Unless this address is also your primary address, we will only use this address to bill you. This address will not appear on the FDM- Practitioners list.)</small></td>
			</tr>
			
		</tbody>
	</table>
	<p>
	<%= link_to "Edit address", edit_address_path(address), class: "btn btn-default" %> 
	<% if @member.addresses.count > 1 %>
		<%= link_to 'Delete address', address_path(address), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
	<% end %>
	</p>
		
	</div>
	

</div>


<% end %>
<% if @member.addresses.count < 3 %>
<p><%= link_to "New address", new_address_path, class: "btn btn-success" %></p>
<% end %>