
<ul style="list-style: none; width: 80%;">
<% for member in @members %>

	<li style="cleath:both; width: 100%; overflow: hidden;">
		
		<div style="float:left;" class="photo">
			<img src="http://placehold.it/100x100">
		</div>
		<div style="float:left; width: 50%; min-width: 200px;" class="name">
		<%= member.firstname %> <%= member.lastname %> <br>
		Mitgliedstyp
		</div>
		<% if member.addresses.count > 0 %>
		<div style="float:left;" class="contact">
			<%= member.addresses.first.street %> <br> <%= member.addresses.first.plz %> <%= member.addresses.first.city %> 
			<br>
			<a href="<%= member.addresses.first.web %>">Homepage</a>
			<a href="mailto:<%= member.addresses.first.email %>">E-Mail</a>
		</div>
		<% end %>
	</li>



<% end %>
</ul>