<%= form_for @member, :html => {:multipart => true} do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<br>
	<%= f.label :firstname %>
	<%= f.text_field :firstname %>
	<br>
	<%= f.label :lastname %>
	<%= f.text_field :lastname %>
	<br>
	<%= f.label :grade %>
	<%= f.text_field :grade %>
	<br>
	<%= f.label :avatar %>
	<%= f.file_field :avatar %>
	<br>
	<%= f.submit %>
<% end %>