<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
<h1>Members#show</h1>
<p>Find me in app/views/members/show.html.erb</p>
<%= @member.firstname %>
<%= @member.print_member_type %>

<% for certificate in @member.certificates %>
	<p><%= link_to "Zertifikat anzeigen", certificate %></p>
<% end %>

<%= image_tag @member.avatar.url(:regular) %>