<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control", required: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control", required: true%>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", required: true %>
  </div>

  <%= f.fields_for :member do |member_fields| %>

    <div class="field">
      <%= member_fields.label :title %><br />
      <%= member_fields.text_field :title, class: "form-control" %>
    </div>
    <div class="field">
      <%= member_fields.label :firstname %><br />
      <%= member_fields.text_field :firstname, class: "form-control", required: true %>
    </div>
    <div class="field">
      <%= member_fields.label :lastname %><br />
      <%= member_fields.text_field :lastname, class: "form-control", required: true %>
    </div>
    <div class="field">
      <%= member_fields.label :grade %><br />
      <%= member_fields.text_field :grade, class: "form-control" %>


    </div>
    <div class="field human">
      <%= f.text_field :url %>
    </div>

  <% end %>

  <div class="col-md-12">
    <br>
    <p><input type="checkbox" value="mustbetrue" required="true"> Please accept our <a href="http://www.fdm-europe.com/wp-content/uploads/2016/02/Statuten-EFDMA-2013.pdf">statutes</a> to sign up.</p>
  </div>

  <div class="col-md-12">
    <br>
    <%= f.submit "Start EFDMA Membership", class: "btn btn-success", style: "width: 100%;" %>
  </div>
<% end %>