<div class="container">
<div class="row">
  
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2>Edit your login info</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <p>Here you can change your email adresse and your current password.</p>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>



  <div class="field">
    <%= f.label "new password" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <hr>
<div class="field">
    <p>In order to change your email oder password. You need to verify your changes with your current password.</p>
    <%= f.label :current_password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :current_password, autocomplete: "off", required: true%>
  </div>
  <hr>


  <div class="field">
    <%= f.submit %>
  </div>
<% end %>



    

    
</div>

</div>

